<p id="notice"><%= notice %></p>

<p>
  <strong>Ime:</strong>
  <%= @vakcinisanje.ime %>
</p>

<p>
  <strong>Jmbg:</strong>
  <%= @vakcinisanje.jmbg %>
</p>

<p>
  <strong>Knjizica:</strong>
  <%= @vakcinisanje.knjizica %>
</p>

<p>
  <strong>Datum:</strong>
  <%= @vakcinisanje.datum %>
</p>

<%= link_to 'Edit', edit_vakcinisanje_path(@vakcinisanje) %> |
<%= link_to 'Back', vakcinisanjes_path %>
