<%= render 'shared/navbar' %>

<p id="notice"><%= notice %></p>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    /> 
    <style>
      html {
        width: 100%;
        height: 100%;
      }
      body {
        width: 100%;
        height: 100%;
      }
      .float-container {
        width: 100%;
        height: 100%;
      }

      .float-child1 {
        width: 55%;
        height: 100%;
        float: left;
      }
      .float-child2 {
        width: 85%;
        height: 100%;
        float: left;
      }
      .card-body {
        padding: 200px 60px 60px;
      }
      i {
        display: inline-block;
        margin-right: 1em;
      }
      <style>
.dropdown {
 padding: 5px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.myBtn:active{
 background-color: #FFEBEB;
 border: none;
}
    </style>
  </head>
  <body>
  

    <div class="container" style="padding-top: 5%;">

     <h1 style=" color: #3D4C71; font-family: poppins;text-align: left;">Stanje u bolnicama</h1>


  <table class="table">
  <thead>
    <tr style="color: #A9B5C0;">
      <th scope="col">Naziv ustanove</th>
      <th scope="col">Broj</th>
      <th scope="col">Lokacija</th>
      <th scope="col">Vrijeme cekanja</th>
      <th scope="col">Radno vrijeme</th>
      <th scope="col">Punkt</th>
    </tr>
  </thead>

  <tbody>
    <% @bolnices.each do |bolnice| %>
      <tr>
        <td style="font-size:18px"><%= bolnice.naziv_ustanove %></td>
        <td><%= bolnice.broj %></td>
        <td><%= bolnice.lokacija %></td>
        <td><%= bolnice.vrijeme_cekanja %></td>
        <td><%= bolnice.radno_vrijeme %></td>
        <td><%= bolnice.odijeljenje %></td>
	      <td><button class="myBtn" style="  border-radius: 6px;
	              background-color: #ff3533;
	              color: white;
	              height: 35px;
	              width: 100px;
	              border: none;
								font-color: #fff"><i class="fas fa-search"></i><%= link_to 'Prikaži', bolnice, :style=>'color: white;' %></button></td>        <!-- <td><%= link_to 'Destroy', bolnice, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->

				
        <!-- <td><%= link_to 'Show', bolnice %></td>
        <td><%= link_to 'Edit', edit_bolnice_path(bolnice) %></td>
        <td><%= link_to 'Destroy', bolnice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> -->
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bolnice', new_bolnice_path %>
